<a href="https://colab.research.google.com/github/rohithmallula19/DS-ML-Practise/blob/main/_Frequency_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
import pandas as pd
import numpy as np

In [51]:
url= 'https://raw.githubusercontent.com/krishnaik06/Complete-Feature-Engineering/master/mercedesbenz.csv'
df= pd.read_csv(url,index_col=0,usecols=['X0','X1','X2','X3','X4','X5'])

In [52]:
df.shape

(4209, 5)

In [53]:
for col in df.columns:
  print(col,'-',len(df[col].unique()),'unique values')

X1 - 27 unique values
X2 - 44 unique values
X3 - 7 unique values
X4 - 4 unique values
X5 - 29 unique values

In [54]:
pd.get_dummies(df).shape

(4209, 111)

In [55]:
for col in df.columns:
  print(col,'-',df[col].value_counts().to_dict())

X1 - {'aa': 833, 's': 598, 'b': 592, 'l': 590, 'v': 408, 'r': 251, 'i': 203, 'a': 143, 'c': 121, 'o': 82, 'w': 52, 'z': 46, 'u': 37, 'e': 33, 'm': 32, 't': 31, 'h': 29, 'y': 23, 'f': 23, 'j': 22, 'n': 19, 'k': 17, 'p': 9, 'g': 6, 'd': 3, 'q': 3, 'ab': 3}
X2 - {'as': 1659, 'ae': 496, 'ai': 415, 'm': 367, 'ak': 265, 'r': 153, 'n': 137, 's': 94, 'f': 87, 'e': 81, 'aq': 63, 'ay': 54, 'a': 47, 't': 29, 'k': 25, 'i': 25, 'b': 21, 'ao': 20, 'ag': 19, 'z': 19, 'd': 18, 'ac': 13, 'g': 12, 'ap': 11, 'y': 11, 'x': 10, 'aw': 8, 'at': 6, 'h': 6, 'al': 5, 'an': 5, 'q': 5, 'av': 4, 'ah': 4, 'p': 4, 'au': 3, 'am': 1, 'j': 1, 'af': 1, 'l': 1, 'aa': 1, 'c': 1, 'o': 1, 'ar': 1}
X3 - {'c': 1942, 'f': 1076, 'a': 440, 'd': 290, 'g': 241, 'e': 163, 'b': 57}
X4 - {'d': 4205, 'a': 2, 'b': 1, 'c': 1}
X5 - {'w': 231, 'v': 231, 'q': 220, 'r': 215, 's': 214, 'd': 214, 'n': 212, 'p': 208, 'm': 208, 'i': 207, 'ae': 205, 'ag': 204, 'ac': 200, 'ab': 197, 'l': 195, 'af': 188, 'ad': 185, 'k': 177, 'c': 131, 'j': 125, 'aa': 112, 'ah': 97, 'o': 20, 'f': 7, 'x': 2, 'y': 1, 'g': 1, 'h': 1, 'u': 1}

In [56]:
z= df.X2.value_counts().to_dict()

In [60]:
for col in df.columns:
  df[col]=df[col].map(df[col].value_counts().to_dict())

In [61]:
df.head(5)

     X1   X2    X3    X4  X5
X0
k   408    6   440  4205   1
k    31    4   163  4205   1
az   52  137  1942  4205   2
az   31  137  1076  4205   2
az  408  137  1076  4205   1