<a href="https://colab.research.google.com/github/rohithmallula19/DS-ML-Practise/blob/main/Feature_Engineering_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd
import numpy as np

In [22]:
url= 'https://raw.githubusercontent.com/krishnaik06/Complete-Feature-Engineering/master/mercedesbenz.csv'
df= pd.read_csv(url,index_col=0,usecols=['X0','X1','X2','X3','X4','X5','X6'])

In [23]:
df.head(5)

   X1  X2 X3 X4 X5 X6
X0
k   v  at  a  d  u  j
k   t  av  e  d  y  l
az  w   n  c  d  x  j
az  t   n  f  d  x  l
az  v   n  f  d  h  d

In [24]:
for col in df.columns:
  print(col,':',len(df[col].unique()), 'labels')

X1 : 27 labels
X2 : 44 labels
X3 : 7 labels
X4 : 4 labels
X5 : 29 labels
X6 : 12 labels

In [25]:
pd.get_dummies(df,drop_first=True).shape

(4209, 117)

In [29]:
df.X2.value_counts().sort_values(ascending= False).head(5)

as    1659
ae     496
ai     415
m      367
ak     265
Name: X2, dtype: int64

In [31]:
top_10=[x for x in df.X2.value_counts().sort_values(ascending= False).head(10).index]
top_10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [34]:
for label in top_10:
  df[label]= np.where(df['X2']==label,1,0)

In [36]:
df.head(20)

    X1  X2 X3 X4 X5 X6  as  ae  ai  m  ak  r  n  s  f  e
X0
k    v  at  a  d  u  j   0   0   0  0   0  0  0  0  0  0
k    t  av  e  d  y  l   0   0   0  0   0  0  0  0  0  0
az   w   n  c  d  x  j   0   0   0  0   0  0  1  0  0  0
az   t   n  f  d  x  l   0   0   0  0   0  0  1  0  0  0
az   v   n  f  d  h  d   0   0   0  0   0  0  1  0  0  0
t    b   e  c  d  g  h   0   0   0  0   0  0  0  0  0  1
al   r   e  f  d  f  h   0   0   0  0   0  0  0  0  0  1
o    l  as  f  d  f  j   1   0   0  0   0  0  0  0  0  0
w    s  as  e  d  f  i   1   0   0  0   0  0  0  0  0  0
j    b  aq  c  d  f  a   0   0   0  0   0  0  0  0  0  0
h    r   r  f  d  f  h   0   0   0  0   0  1  0  0  0  0
al   r   e  f  d  f  h   0   0   0  0   0  0  0  0  0  1
s    b  ai  c  d  f  g   0   0   1  0   0  0  0  0  0  0
al   r   e  f  d  j  h   0   0   0  0   0  0  0  0  0  1
o    s  as  e  d  j  g   1   0   0  0   0  0  0  0  0  0
n    l  ak  f  d  j  d   0   0   0  0   1  0  0  0  0  0
al   r   e  f  d  j  h   0   0   0  0   0  0  0  0  0  1
ay  aa  as  c  d  j  c   1   0   0  0   0  0  0  0  0  0
f    c   m  c  d  j  d   0   0   0  1   0  0  0  0  0  0
n    a  ak  f  d  j  i   0   0   0  0   1  0  0  0  0  0

In [43]:
df[['X2']+top_10].head(20)

    X2  as  ae  ai  m  ak  r  n  s  f  e
X0
k   at   0   0   0  0   0  0  0  0  0  0
k   av   0   0   0  0   0  0  0  0  0  0
az   n   0   0   0  0   0  0  1  0  0  0
az   n   0   0   0  0   0  0  1  0  0  0
az   n   0   0   0  0   0  0  1  0  0  0
t    e   0   0   0  0   0  0  0  0  0  1
al   e   0   0   0  0   0  0  0  0  0  1
o   as   1   0   0  0   0  0  0  0  0  0
w   as   1   0   0  0   0  0  0  0  0  0
j   aq   0   0   0  0   0  0  0  0  0  0
h    r   0   0   0  0   0  1  0  0  0  0
al   e   0   0   0  0   0  0  0  0  0  1
s   ai   0   0   1  0   0  0  0  0  0  0
al   e   0   0   0  0   0  0  0  0  0  1
o   as   1   0   0  0   0  0  0  0  0  0
n   ak   0   0   0  0   1  0  0  0  0  0
al   e   0   0   0  0   0  0  0  0  0  1
ay  as   1   0   0  0   0  0  0  0  0  0
f    m   0   0   0  1   0  0  0  0  0  0
n   ak   0   0   0  0   1  0  0  0  0  0

In [44]:
def one_hot_encoding_top_x(df, variable, top_x_labels):
    
    for label in top_x_labels:
        df[variable+'_'+label] = np.where(df[variable]==label, 1, 0)

In [45]:
def one_hot_encoding_top_x(df,variable,top_x_labels):
  for label in top_x_labels:
    df[variable+'_'+label]=np.where(df[[variable]==label,1,0])

    X2
X0
k   at
k   av
az   n
az   n
az   n
..  ..
ak  as
j    t
ak   r
al   e
z   ae

[4209 rows x 1 columns]

In [47]:
top_10= [x for x in df.X1.value_counts().sort_values(ascending= False).head(10).index]
top_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']